body {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  background-color: darkslategrey;
  color: antiquewhite;
}

h1 {
  margin: 0;
  letter-spacing: 2;
  font-weight: 100;
  font-size: 5em;
}

p {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}
